<h1>Hello, Mentoring Group!</h1>
<p>Welcome to our Mentoring Group's single-page application, built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular 2</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='http://gulpjs.com/'>Gulp</a> for building and bundling client-side resources *WHAT WE USE*</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> for building and bundling client-side resources *OLD*</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
